<!DOCTYPE html>
<html ng-app="podreads">

<head>
  <meta charset="utf-8">
  <title>Podreads</title>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js" charset="utf-8"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js" integrity="sha256-FMocp8pp1WruAK6GtjNDtuGAALCt/dCsVtw7oSjvPX0=" crossorigin="anonymous"></script>



  <script src="javascripts/app.js" charset="utf-8"></script>
  <script src="javascripts/podcasts.js" charset="utf-8"></script>
  <script src="javascripts/advertisers.js" charset="utf-8"></script>
  <script src="javascripts/create.js" charset="utf-8"></script>
  <script src="javascripts/podcastEdit.js" charset="utf-8"></script>
  <script src="javascripts/advertiserEdit.js" charset="utf-8"></script>
  <script src="javascripts/navbar.js" charset="utf-8"></script>
</head>
<body>
  <ui-view></ui-view>
</body>

</html>
