<script> // Materialize.toast(message, displayLength, className, completeCallback);
  Materialize.toast('I am a toast!', 4000) // 4000 is the duration of the toast
</script>

<navbar></navbar>
<a class="btn #424242 grey darken-3" onclick="Materialize.toast('Here you can see cards for companies that often partner with content creators. Click on a card to reveal detailed contact information.', 4000)">help</a>
<div><h5><center>Welcome "{{ $ctrl.user.name }}". Viewing {{ $ctrl.advertisers.length }} companies.</center></h5></div>
<div class="row">
  <div class="input-field">
    <input id="search" type="search" required ng-model="search">
    <i class="material-icons">close</i>
  </div>
  <div class="col s12 m3" ng-repeat="advertiser in $ctrl.advertisers | filter:search | orderBy:name">
    <div class="card small hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{ advertiser.profile_image}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{ advertiser.name }}<i class="material-icons right">more_vert</i></span>
        <p><a href="{{ advertiser.website}}">website</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{ advertiser.name }}<i class="material-icons right">close</i></span>
        <div class="chip" ng-repeat="tag in advertiser.tagList">
          {{ tag }}
        </div>
        <p>{{ advertiser.summary }}</p>
        <p><i>{{ advertiser.contact }}</i></p>
    </div>
  </div>
</div>







<!--
<div class="row">
  <div class="col s12 m3" ng-repeat="advertiser in $ctrl.advertisers">
    <div class="card large">
      <div class="card-image">
        <img src="{{ advertiser.profile_image}}">
        <span class="card-title"></span>
      </div>
      <div class="card-content">
        <h5>{{ advertiser.name }}</h5>
        <div class="chip">
          tag
        </div>
        <br>
        {{ advertiser.summary }}
      </div>
      <div class="card-action">
        <a href="{{ advertiser.website}}">Website</a>
      </div>
      <div class="card-content">
        {{ advertiser.contact }}
      </div>

    </div>
  </div>
</div> -->
