<navbar></navbar>
<div class="row" ng-if="!showme">
  <form class="col s12" ng-submit="$ctrl.editAdvertiser()">
    <div class="row">
      <div class="input-field col s6">
        <input required ng-model="$ctrl.advertiser.name" id="name" type="text" class="validate" placeholder="Company name">
        <!-- <label for="name">Company name</label> -->
      </div>
      <div class="input-field col s6">
        <input required ng-model="$ctrl.advertiser.website" id="website" type="text" class="validate" placeholder="Website">
        <!-- <label for="website">website</label> -->
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input required ng-model="$ctrl.advertiser.location" id="location" type="text" class="" placeholder="Location">
        <!-- <label for="location">location</label> -->
      </div>
      <div class="input-field col s6">
        <input required ng-model="$ctrl.advertiser.summary" id="summary" type="text" class="validate" placeholder="Tell us about your company">
        <!-- <label for="summary">summary</label> -->
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input required ng-model="$ctrl.advertiser.demo" id="demo" type="text" class="validate" placeholder="Demographic">
        <!-- <label for="demo">Demographic</label> -->
      </div>
      <div class="input-field col s6">
        <input required ng-model="$ctrl.advertiser.subject" id="subject" type="text" class="validate" placeholder="Subject">
        <!-- <label for="reader">Subject</label> -->
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input required ng-model="$ctrl.advertiser.contact" id="contact" type="text" class="validate" placeholder="Contact number or email">
        <!-- <label for="demo">Contact number or email</label> -->
      </div>
      <div class="input-field col s6">
        <input id="tags" type="text" class="validate" placeholder="Tags (seperate with commas)">
        <!-- <label for="reader">tags</label> -->
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input required ng-model="$ctrl.advertiser.profile_image" id="profile_image" type="text" class="validate" placeholder="Profile image URL">
        <!-- <label for="reader">profile image</label> -->
      </div>
    </div>
    <button class='col s12 btn btn-large waves-effect indigo light' type="submit" name="action">Submit</button>
  </form>
</div>
