<style>
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  body {
    background: #fff;
  }

  .input-field input[type=date]:focus+label,
  .input-field input[type=text]:focus+label,
  .input-field input[type=email]:focus+label,
  .input-field input[type=password]:focus+label {
    color: #e91e63;
  }

  .input-field input[type=date]:focus,
  .input-field input[type=text]:focus,
  .input-field input[type=email]:focus,
  .input-field input[type=password]:focus {
    border-bottom: 2px solid #e91e63;
    box-shadow: none;
  }
</style>

<!-- login form -->
<navbar></navbar>
<!-- <div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="/assets/Ferry_Tour/Ferry_Tour.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="/assets/Ferry_Tour/Ferry_Tour.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="/assets/Ferry_Tour/Ferry_Tour.jpg" alt="">
        </div>
    </div>
</div> -->
<div class="section"></div>
<main>
  <center>
    <!-- <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/l49K1zyGprNfFs6GI" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/l49K1zyGprNfFs6GI">via GIPHY</a></p> -->
    <img class="responsive-img" style="width: 365px;" src="https://media.giphy.com/media/l49K1zyGprNfFs6GI/giphy.gif" />

    <!-- <h6 class="indigo-text">Please, login into your account</h6> -->
    <div class="section"></div>

    <div class="container">
      <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

        <form class="col s12" ng-submit='$ctrl.signIn()'>
          <div class='row'>
            <div class='col s12'>
            </div>
          </div>


            <!-- <p>Please select your preferred login method:</p> -->
            <div>
              <input type="radio" id="podcaster" name="loginType" ng-model="$ctrl.user.loginType" value="podcaster">
              <label for="podcaster">Podcaster</label>

              <input type="radio" id="advertiser" name="loginType" ng-model="$ctrl.user.loginType" value="advertiser">
              <label for="advertiser">Advertiser</label>
            </div>
            <br><br>

          <!-- form use for loginType -->

                    <!-- <div class='row'>
                      <div class='input-field col s12'>
                        <input class='validate' type='text' name='loginType' id='loginType' ng-model="$ctrl.user.loginType" />
                        <label for='loginType'>loginType</label>
                      </div> -->

            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='email' name='email' id='email' ng-model="$ctrl.user.email" />
                <label for='email'>Enter your email</label>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='password' name='password' id='password' ng-model="$ctrl.user.password" />
                <label for='password'>Enter your password</label>
              </div>
              <label style='float: right;'>
								<a class='pink-text' href='#!'><b>Forgot Password?</b></a>
							</label>
            </div>

            <br />
            <center>
              <div class='row'>
                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Login</button>
              </div>
            </center>
        </form>
        </div>
      </div>
      <!-- <a href="">Create account</a> -->

      <label>Create account<input type="checkbox" ng-model="checked" ng-init="checked=false" /></label><br/>
      <span ng-if="checked" class="animate-if">
      <!-- buttons -->
      <a class="waves-effect waves-light btn-large" ng-init="showme=true" ng-click="showme=!showme" ng-model="$ctrl.user.loginType" value="podcaster">I have a podcast</a>
      <a class="waves-effect waves-light btn-large" ng-click="showme=!showme" ng-model="$ctrl.user.loginType" value="advertiser">I am an advertiser</a>


<!-- form for podcasters -->
      <div class="row" ng-if="showme">
        <form class="col s12" ng-submit="$ctrl.addPodcast()">
          <div class="row">
            <div class="input-field col s6">
              <input required ng-model="$ctrl.podcast.name" id="name" type="text" class="validate" placeholder="Podcast name">
              <!-- <label for="name">Podcast name</label> -->
            </div>
            <div class="input-field col s6">
              <input required ng-model="$ctrl.podcast.itunes_url" id="itunes_url" type="text" class="" placeholder="iTunes URL">
              <!-- <label for="itunes_url">iTunes URL</label> -->
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input required ng-model="$ctrl.podcast.website" id="website" type="text" class="validate" placeholder="Website">
              <!-- <label for="website">Website</label> -->
            </div>
            <div class="input-field col s6">
              <input required ng-model="$ctrl.podcast.reader" id="reader" type="text" class="validate" placeholder="Reader">
              <!-- <label for="reader">Reader</label> -->
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input required ng-model="$ctrl.podcast.demo" id="demo" type="text" class="validate" placeholder="Demographic">
              <!-- <label for="demo">Demographic</label> -->
            </div>
            <div class="input-field col s6">
              <input required ng-model="$ctrl.podcast.subject" id="subject" type="text" class="validate" placeholder="Subject">
              <!-- <label for="reader">Subject</label> -->
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input required ng-model="$ctrl.podcast.contact" id="contact" type="text" class="validate" placeholder="Contact number or email">
              <!-- <label for="demo">Contact number or email</label> -->
            </div>
            <div class="input-field col s6">
              <input required ng-model="$ctrl.podcast.tags" id="tags" type="text" class="validate" placeholder="Tags (seperate with commas)">
              <!-- <label for="reader">Subject</label> -->
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input required ng-model="$ctrl.podcast.profile_image" id="profile_image" type="text" class="validate" placeholder="Profile image URL">
              <!-- <label for="reader">profile image</label> -->
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input required ng-model="$ctrl.podcast.summary" id="summary" type="text" class="validate" placeholder="Tell us about your podcast">
              <!-- <label for="reader">profile image</label> -->
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input required ng-model="$ctrl.podcast.password" id="password" type="password" class="validate" placeholder="password">
              <!-- <label for="email">Password</label> -->
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input required ng-model="$ctrl.podcast.email" id="email" type="email" class="validate" placeholder="email">
              <!-- <label for="email">Email</label> -->
            </div>
          </div>
          <button class='col s12 btn btn-large waves-effect indigo light' type="submit" name="action">Submit</button>
        </form>
      </div>



<!-- form for advertisers -->
      <div class="row" ng-if="!showme">
        <form class="col s12" ng-submit="$ctrl.addAdvertiser()">
          <div class="row">
            <div class="input-field col s6">
              <input required ng-model="$ctrl.advertiser.name" id="name" type="text" class="validate" placeholder="Company name">
              <!-- <label for="name">Company name</label> -->
            </div>
            <div class="input-field col s6">
              <input required ng-model="$ctrl.advertiser.website" id="website" type="text" class="validate" placeholder="Website">
              <!-- <label for="website">website</label> -->
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input required ng-model="$ctrl.advertiser.location" id="location" type="text" class="" placeholder="Location">
              <!-- <label for="location">location</label> -->
            </div>
            <div class="input-field col s6">
              <input required ng-model="$ctrl.advertiser.summary" id="summary" type="text" class="validate" placeholder="Tell us about your company">
              <!-- <label for="summary">summary</label> -->
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input required ng-model="$ctrl.advertiser.demo" id="demo" type="text" class="validate" placeholder="Demographic">
              <!-- <label for="demo">Demographic</label> -->
            </div>
            <div class="input-field col s6">
              <input required ng-model="$ctrl.advertiser.subject" id="subject" type="text" class="validate" placeholder="Subject">
              <!-- <label for="reader">Subject</label> -->
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input required ng-model="$ctrl.advertiser.contact" id="contact" type="text" class="validate" placeholder="Contact number or email">
              <!-- <label for="demo">Contact number or email</label> -->
            </div>
            <div class="input-field col s6">
              <input id="tags" type="text" class="validate" placeholder="Tags (seperate with commas)">
              <!-- <label for="reader">tags</label> -->
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input required ng-model="$ctrl.advertiser.profile_image" id="profile_image" type="text" class="validate" placeholder="Profile image URL">
              <!-- <label for="reader">profile image</label> -->
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input required ng-model="$ctrl.advertiser.password" id="password" type="password" class="validate" placeholder="password">
              <!-- <label for="email">Password</label> -->
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input required ng-model="$ctrl.advertiser.email" id="email" type="email" class="validate" placeholder="email">
              <!-- <label for="email">Email</label> -->
            </div>
          </div>
          <button class='col s12 btn btn-large waves-effect indigo light' type="submit" name="action">Submit</button>
        </form>
      </div>

    </span>

  </center>

  <div class="section"></div>
  <div class="section"></div>
</main>
