<navbar></navbar>
<center><h1>Edit your profile</h1></center>
<div class="row">
  <form class="col s12" ng-submit="$ctrl.editPodcast()">
    <div class="row">
      <div class="input-field col s6">
        <input required ng-model="$ctrl.podcast.name" id="name" type="text" class="validate" placeholder="Podcast name">
      </div>
      <div class="input-field col s6">
        <input required ng-model="$ctrl.podcast.itunes_url" id="itunes_url" type="text" class="" placeholder="iTunes URL">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input required ng-model="$ctrl.podcast.website" id="website" type="text" class="validate" placeholder="Website">
      </div>
      <div class="input-field col s6">
        <input required ng-model="$ctrl.podcast.reader" id="reader" type="text" class="validate" placeholder="Reader">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input required ng-model="$ctrl.podcast.demo" id="demo" type="text" class="validate" placeholder="Demographic">
      </div>
      <div class="input-field col s6">
        <input required ng-model="$ctrl.podcast.subject" id="subject" type="text" class="validate" placeholder="Subject">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input required ng-model="$ctrl.podcast.contact" id="contact" type="text" class="validate" placeholder="Contact number or email">
      </div>
      <div class="input-field col s6">
        <input required ng-model="$ctrl.podcast.tags" id="tags" type="text" class="validate" placeholder="Tags (seperate with commas)">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input required ng-model="$ctrl.podcast.profile_image" id="profile_image" type="text" class="validate" placeholder="Profile image URL">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input required ng-model="$ctrl.podcast.summary" id="summary" type="text" class="validate" placeholder="Tell us about your podcast">
      </div>
    </div>
    <button class='col s12 btn btn-large waves-effect indigo light' type="submit" name="action">Submit</button>
  </form>
</div>
