<navbar></navbar>
<!-- <label>Search: <input ng-model="searchText"></label>
<table id="searchTextResults">
  <tr><th>Name</th><th>Tags</th></tr>
  <tr ng-repeat="podcast in $ctrl.podcasts | filter:searchText">
    <td>{{podcast.name}}</td>
    <td ng-repeat="tag in podcasts.tagList">{{tag}}</td>
  </tr>
</table> -->

<div class="row">
  <div class="col s12 m3" ng-repeat="podcast in $ctrl.podcasts">
    <div class="card large">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{ podcast.profile_image}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{ podcast.name }}<i class="material-icons right">more_vert</i></span>

        <!-- <ul class="collection">
          <li class="collection-item"><a href="{{ podcast.itunes_url}}">iTunes</a></li>
          <li class="collection-item"><a href="{{ podcast.website}}">website</a></li>
        </ul> -->
        <br>
        <p><a href="{{ podcast.itunes_url}}">iTunes</a></p>
        <p><a href="{{ podcast.website}}">website</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{ podcast.name }}<i class="material-icons right">close</i></span>
        <div class="chip" ng-repeat="tag in podcast.tagList">
          {{ tag }}
        </div>
        <p>{{ podcast.summary }}</p>
        <p><i>{{ podcast.contact }}</i></p>
      </div>
    </div>
  </div>

  <!--

<div class="row">
  <div class="col s12 m3" ng-repeat="podcast in $ctrl.podcasts">
    <div class="card large">
      <div class="card-image">
        <img src="{{ podcast.profile_image}}">
        <span class="card-title"></span>
      </div>
      <div class="card-content">
        <h5>{{ podcast.name }}</h5>
        <div class="chip" ng-repeat="tag in podcast.tagList">
            {{ tag }}
        </div>
        <br>
        {{ podcast.summary }}
        <br>
        <br>
        <i>Genre: {{ podcast.subject }}</i>
      </div>
      <div class="card-action">
        <a href="{{ podcast.itunes_url}}">iTunes</a>
      </div>
      <div class="card-action">
        <a href="{{ podcast.website}}">website</a>
      </div>

    </div>
  </div>
</div> -->
